<app-nav></app-nav>
<!-- Page Wrapper -->
<div class="page-wrapper">
			
    <!-- Page Content -->
    <div class="content container-fluid">
    
        <!-- Page Header -->
        <div class="page-header">
            <div class="row align-items-center">
                <div class="col">
                    <h3 class="page-title">Edit Class</h3>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a routerLink="/dashboard">Dashboard</a></li>
                        <li class="breadcrumb-item active">Create Class</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /Page Header -->
        <div class="row">
            <div class="col-md-12">
                <form [formGroup]="classForm" (ngSubmit)="classSubmit()">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Name <span class="text-danger">*</span></label>
                                <input class="form-control" [formControl]="classForm.controls.name"  [(ngModel)]="classes.name" type="text">
                                <div *ngIf="submitted && classForm.controls.name.errors" class="error matMargin">
                                    <div *ngIf="classForm.controls.name.errors.required">Please enter Class Name</div>
                                    <div *ngIf="classForm.controls.name.errors.name">Invalid Class Name</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Seats <span class="text-danger">*</span></label>
                                <input class="form-control"  [formControl]="classForm.controls.seats" [(ngModel)]="classes.seats" type="number">
                                <div *ngIf="submitted && classForm.controls.seats.errors" class="error matMargin">
                                    <div *ngIf="classForm.controls.seats.errors.required">Please enter seats</div>
                                    <div *ngIf="classForm.controls.seats.errors.seats">Invalid seats</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <div class="table-responsive">
                                <table class="table table-hover table-white">
                                    <thead>
                                        <tr>
                                            <th style="width: 20px;">#</th>
                                            <th class="col-sm-2">Item</th>
                                            <th>Amount</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td><input class="form-control" type="text" style="min-width: 150px;"   value="Registration & Prospectus" readonly/>
                                                <div *ngIf="submitted && classForm.controls.registration.errors" class="error matMargin">
                                                    <div *ngIf="classForm.controls.registration.errors.required">Please enter Registration & Prospectus Fee</div>
                                                </div>
                                            </td>
                                            <td><input class="form-control" type="number" style="min-width: 150px;"   [formControl]="classForm.controls.registration" [(ngModel)]="classes.classFee.registration"/></td>
                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td><input class="form-control" type="text" style="min-width: 150px;"   value="Security Fee" readonly/>
                                                <div *ngIf="submitted && classForm.controls.security.errors" class="error matMargin">
                                                    <div *ngIf="classForm.controls.security.errors.required">Please enter Security Fee</div>
                                                </div>
                                            </td>
                                            <td><input class="form-control" type="number" style="min-width: 150px;"   [formControl]="classForm.controls.security" [(ngModel)]="classes.classFee.security"/></td>
                                        </tr>
                                        <tr>
                                            <td>3</td>
                                            <td><input class="form-control" type="text" style="min-width: 150px;"   value="Admission Fee" readonly/>
                                                <div *ngIf="submitted && classForm.controls.admission.errors" class="error matMargin">
                                                    <div *ngIf="classForm.controls.admission.errors.required">Please enter Admission Fee</div>
                                                </div>
                                            </td>
                                            <td><input class="form-control" type="number" style="min-width: 150px;"   [formControl]="classForm.controls.admission" [(ngModel)]="classes.classFee.admission"/></td>
                                        </tr>
                                        <tr>
                                            <td>4</td>
                                            <td><input class="form-control" type="text" style="min-width: 150px;"   value="Annual Fee" readonly/>
                                                <div *ngIf="submitted && classForm.controls.annual.errors" class="error matMargin">
                                                    <div *ngIf="classForm.controls.annual.errors.required">Please enter Annual Fee</div>
                                                </div>
                                            </td>
                                            <td><input class="form-control" type="number" style="min-width: 150px;"   [formControl]="classForm.controls.annual" [(ngModel)]="classes.classFee.annual" /></td>
                                        </tr>
                                        <tr>
                                            <td>5</td>
                                            <td><input class="form-control" type="text" style="min-width: 150px;"   value="Exam Fee" readonly/>
                                                <div *ngIf="submitted && classForm.controls.exam.errors" class="error matMargin">
                                                    <div *ngIf="classForm.controls.exam.errors.required">Please enter Exam  Fee</div>
                                                </div>
                                            </td>
                                            <td><input class="form-control" type="number" style="min-width: 150px;"   [formControl]="classForm.controls.exam" [(ngModel)]="classes.classFee.exam" /></td>
                                        </tr>
                                        <tr>
                                            <td>6</td>
                                            <td><input class="form-control" type="text" style="min-width: 150px;"   value="Tuition Fee" readonly/>
                                                <div *ngIf="submitted && classForm.controls.tuition.errors" class="error matMargin">
                                                    <div *ngIf="classForm.controls.tuition.errors.required">Please enter Tuition Fee</div>
                                                </div>
                                            </td>
                                            <td><input class="form-control" type="number" style="min-width: 150px;"   [formControl]="classForm.controls.tuition" [(ngModel)]="classes.classFee.tuition" /></td>
                                        </tr>
                                        <tr>
                                            <td>7</td>
                                            <td><input class="form-control" type="text" style="min-width: 150px;"   value="Computer Fee" readonly/>
                                                <div *ngIf="submitted && classForm.controls.computer.errors" class="error matMargin">
                                                    <div *ngIf="classForm.controls.computer.errors.required">Please enter Computer Fee</div>
                                                </div>
                                            </td>
                                            <td><input class="form-control" type="number" style="min-width: 150px;"   [formControl]="classForm.controls.computer"  [(ngModel)]="classes.classFee.computer"  /></td>
                                        </tr>
                                        <tr>
                                            <td>8</td>
                                            <td><input class="form-control" type="text" style="min-width: 150px;"   value="Transport Fee" readonly/>
                                                <div *ngIf="submitted && classForm.controls.transport.errors" class="error matMargin">
                                                    <div *ngIf="classForm.controls.transport.errors.required">Please enter Transport Fee</div>
                                                </div>
                                            </td>
                                            <td><input class="form-control" type="number" style="min-width: 150px;"   [formControl]="classForm.controls.transport" [(ngModel)]="classes.classFee.transport" /></td>
                                        </tr>
                                        <tr>
                                            <td>9</td>
                                            <td><input class="form-control" type="text" style="min-width: 150px;"   value="Dance Fee" readonly/>
                                                <div *ngIf="submitted && classForm.controls.dance.errors" class="error matMargin">
                                                    <div *ngIf="classForm.controls.dance.errors.required">Please enter Dance Fee</div>
                                                </div>
                                            </td>
                                            <td><input class="form-control" type="number" style="min-width: 150px;"   [formControl]="classForm.controls.dance" [(ngModel)]="classes.classFee.dance" /></td>
                                        </tr>
                                        <tr>
                                            <td>10</td>
                                            <td><input class="form-control" type="text" style="min-width: 150px;"   value="Miscellaneous Fee" readonly/>
                                                <div *ngIf="submitted && classForm.controls.miscellaneous.errors" class="error matMargin">
                                                    <div *ngIf="classForm.controls.miscellaneous.errors.required">Please enter miscellaneous Fee</div>
                                                </div>
                                            </td>
                                            <td><input class="form-control" type="number" style="min-width: 150px;"   [formControl]="classForm.controls.miscellaneous" [(ngModel)]="classes.classFee.miscellaneous" /></td>
                                        </tr>
                                        <tr>
                                            <td>11</td>
                                            <td><input class="form-control" type="text" style="min-width: 150px;"   value="Extra Activity Classes Fee" readonly/>
                                                <div *ngIf="submitted && classForm.controls.extraActivityClasses.errors" class="error matMargin">
                                                    <div *ngIf="classForm.controls.extraActivityClasses.errors.required">Please enter Extra Activity Classes Fee</div>
                                                </div>
                                            </td>
                                            <td><input class="form-control" type="number" style="min-width: 150px;"   [formControl]="classForm.controls.extraActivityClasses" [(ngModel)]="classes.classFee.extraActivityClasses" /></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="submit-section">
                        <button class="btn btn-primary submit-btn"  type="submit" >Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>  